section {
    display: flex;
    justify-content: center;
    margin: 54px 99px 0px 90px;
}

.search-card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-tertiary);
    width: 100%;
    height: 270px;
    border-radius: 16px;
    padding: 54px 31px;
}

.search-card-title {
    color: var(--color-font-quarternary);
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 12px;
}

.search-form input {
    width: 298px;
    height: 40px;
    border: 1px solid var(--color-input-border);
    border-radius: 4px;
    padding: 0 17px;
    margin-bottom: 24px;
}

.search-form input::placeholder {
    color: var(--color-font-placeholder);
    font-size: 16px;
}

.search-form input:focus {
    outline: none;
}

.result-card {
    display: flex;
    background-color: var(--color-bg-quartenary);
    width: 100%;
    height: 334px;
    border-radius: 8px;
    padding: 43px 35px 44px 38px;
}

.result-card img {
    width: 247px;
    height: 247px;
    margin-right: 29px;
}

.information-card {
    display: flex;
    width: 902px;
    height: 247px;
    border: 1px solid var(--color-input-border);
    border-radius: 6px;
    background-color: var(--color-bg-primary);
    flex-direction: column;
    padding: 8px 16px 17px 14px;
}

.information-card h3 {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-font-quinary);
    margin-bottom: 19px;
}

.information-card-item {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border: 1px solid var(--color-input-border);
    border-radius: 4px;
    margin-bottom: 5px;
    height: 40px;
    color: var(--color-font-sexnary);
    font-size: 16px;
    font-weight: 400;
}

.display-none {
    display: none;
}